# Virtual Environment
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Nuitka Build directories & artifacts
utarwifihelper.build/
utarwifihelper.dist/
utarwifihelper.onefile-build/

# Compiled Executables (Releases should be uploaded to GitHub Releases)
*.exe

# Private credentials configuration (CRITICAL!)
config.json

# Media references & Nuitka reports
*.mp4
nuitka-crash-report.xml
scratch/

# Temporary files
*.tmp
*.log
*.manifest
*.res
*.obj

# Scratch folder
scratch/

# UTAR captive portal reference files
Welcome to UTAR Wireless Network.html
Welcome to UTAR Wireless Network_files/
Welcome to UTAR Wireless Network_block_b.html
Welcome to UTAR Wireless Network_block_b_files/

# Raw input icon assets
iconV2.png

# Ignore old Python development files
utarwifihelper.py
test_utarwifihelper.py
requirements.txt